/* ==========================================================================//
//
// [パーツ情報 - color]
//
// ========================================================================== */

$color_gray: #888889;
$color_black: #000;
$color_white: #fff;
$color_white_gray: #e8e8e9;
$color_white_gray2: #f9f9f9;
$color_mint: #5accb6;
$color_pink: #f68e7b;
$color_light_blue: #2fdee4;
$color_gold: #beb289;
$color_red: #e30714;

$color_blue: #0f3e78;
$color_light_blue: #0f6ab4;
