extends _layout/_default

block append vars
  -
    title       = '2018 ワールドカップ スケジュール'
    description = '2018 ワールドカップ ロシア大会のスケジュールを検索できます。是非ご活用ください。'
    pageScript = false

block content
  .content
  main.main
    .main__inner

      //- セクション
      section.section.section--full
        .section__inner
          h1.title 2018 FIFA World Cup Russia
          #js-loader.loader-wrapper
            .loader-wrapper__loader-box
              i.loader
          #js-app

