extends _layout/_default

block append vars
  -
    title       = '茶円'
    description = '茶円は、webサイト制作、アプリケーション開発等を手がけるITデベロッパーです。'
    pageScript = false

block content
  main.chamado
    .chamado__inner
      img(src='/images/chamado-logo.png').chamado__img
      .chamado__link-box
        a(href='/worldcup2018').chamado__link 2018ワールドカップ 2018
          br
          | ロシア大会 スケジュール検索
